.album
{
    color: rgba(255,255,255,0.8);

    padding: 15px 25px;
    margin: 20px;

    background: rgba(0,0,0,0.25);

    display: inline-block;
    position: relative;

    z-index: 4;

   -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
           border-radius: 7px;
}