.loading
{
    background: url(loading.gif) 0 0 / 100% 100%;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -8px 0 0 -32px;

    width: 5%;
    height: 4%;

    max-height: 16px;
    max-width: 64px;
}

.loading_visibility_hidden
{
    display: none;
}